* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 1em;
    color: var(--negro);
}

h1 {
    font-size: 2em;
    color: var(--verde-oscuro);
}

h2 {
    font-size: 1.5em;
    color: var(--verde-medio)
}

h3 {
    font-size: 1.2em;
    color: var(--negro);
}

footer {
    font-size: 0.8em;
}

:root {
    --verde-oscuro: #388E3C; /*color principal*/
    --verde-medio: #84BD88; /*color secundario*/
    --naranja: #FF7700; /*color enlaces y botones*/
    --negro: #212121; /*color texto*/
    --blanco: #FFFFFF; /*color fondo*/
}

a {
    color: var(--naranja);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button, input[type=submit], input[type=reset] {
    background-color: var(--naranja);
    color: var(--blanco);
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover, input[type=reset]:hover {
opacity: 0.7;
}

header {
    background-color: var(--blanco);
    color: var(--verde-oscuro);
    text-align: center;
}

nav {
    background-color: var(--verde-medio);
    text-align: center;
}

footer {
    background-color: var(--verde-oscuro);
    color: var(--blanco);
    text-align: center;
    padding: 1em;
}

aside {
    background-color: #f5f5f5;
    color: var(--negro);
}

form {
    background-color: var(--blanco);
    color: var(--negro);
    border: 1px solid var(--verde-medio);
    padding: 1em;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    background-color: var(--blanco);
    color: var(--negro);
    border: 1px solid var(--verde-medio);
}

th {
    background-color: var(--verde-medio);
    color: var(--blanco);
}

td {
    border: 1px solid var(--verde-medio);
    padding: 0.5em
}